/* Estilo general de la lista */
.todo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-list.light {
  background-color: #f4f4f4;
}

.todo-list.dark {
  background-color: #121212;
}

/* Elemento de lista */
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease, text-decoration 0.3s ease;
}

.todo-list.dark .todo-item {
  background-color: #1e1e1e; /* Fondo oscuro para tema oscuro */
  color: #e0e0e0; /* Texto claro para tema oscuro */
}

.todo-item.completed {
  background-color: #d4f0dc; /* Verde claro */
}

.todo-list.dark .todo-item.completed {
  background-color: #2e7d32; /* Verde oscuro para tema oscuro */
}

/* Texto de la tarea */
.todo-text {
  flex-grow: 1;
  margin-left: 10px;
  font-size: 16px;
  transition: text-decoration 0.3s ease, color 0.3s ease;
}

.todo-item.completed .todo-text {
  text-decoration: line-through;
  color: #a0a0a0;
}

.todo-list.dark .todo-item.completed .todo-text {
  color: #7a7a7a; /* Texto más claro para tema oscuro */
}

/* Contenedor del checkbox */
.checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Ocultar checkbox por defecto */
.checkbox-container input {
  opacity: 0;
  position: absolute;
}

/* Checkmark circular */
.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 50%;
  background-color: #f4f4f4;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.todo-list.dark .checkmark {
  background-color: #1e1e1e; /* Fondo oscuro para checkmark */
  border-color: #007bff; /* Borde azul para tema oscuro */
}

/* Cambiar estilo al estar completado */
.checkbox-container input:checked + .checkmark {
  background-color: #007bff;
  border-color: #0056b3;
}

/* Icono de la palomita */
.checkmark svg {
  width: 12px;
  height: 12px;
  display: none;
}

.checkbox-container input:checked + .checkmark svg {
  display: block;
  fill: #fff;
}
